<div class="row">
	<div class="col-sm-5">
		<div class="keen-widget keen-metric" style="background-color: #dd1c2e; width:NaNpx;">
			<span class="keen-metric-value"><%= @users.active.count %></span>
			<span class="keen-metric-title">Active Members</span>
		</div>
		<div class="row">

			<div class="col-sm-12">
				<h3>Latest Members</h3>
				<table class="table">
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Status</th>
						<th></th>
					</tr>
					<% @users.last(5).each do |user| %>
				  <tr>
				    <td><%= user.id %></td>
				    <td><%= user.name %></td>
				    <td><%= user.aasm_state.titleize %></td>
				    <td><a class="btn btn-default">View</a></td>
				  </tr>
				  <% end %>
				</table>
				<a href="<%= admin_users_path %>" class="btn btn-default">View All</a>
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h2 class="panel-title">Import Users</h2>
				  </div>
				  <div class="panel-body">
				    <%= form_tag admin_user_import_path, multipart: true do %>
				        <%= file_field_tag :user_file, class: 'btn' %>
				        <%= submit_tag 'Import Users', class: 'btn btn-danger' %>
				    <% end %>
				    <a href="https://docs.google.com/spreadsheets/d/1TvSILiOxFIgq8kC_LqfNhhutcEuEAoQvh8ARtRvlGmk/edit?usp=sharing" target="_blank">Sample Excel File</a>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="keen-widget keen-metric" style="background-color: #E8B15F; width:NaNpx;">
			<span class="keen-metric-value"><%= @events.count %></span>
			<span class="keen-metric-title">Total Events</span>
		</div>
		<div class="row">

			<div class="col-sm-12">
				<h3>Latest Events</h3>
				<table class="table">
					<tr>
						<th>Date & Time</th>
						<th>Name</th>
						<th>Type</th>
						<th>Attendees</th>
						<th></th>
					</tr>
					<% @events.last(5).each do |event| %>
					 <%= render "events/event_row", {event: event} %>
 					 <% end %>
				</table>
				<a href="<%= admin_events_path %>" class="btn btn-default">View All</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		
		
	</div>
</div>




<style id="keen-widgets" type="text/css">    .keen-metric { 
  background: #49c5b1; 
  border-radius: 4px; 
  color: #fff; 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  padding: 10px 0; 
  text-align: center; 
}     .keen-metric-value { 
  display: block; 
  font-size: 84px; 
  font-weight: 700; 
  line-height: 84px; 
}     .keen-metric-title { 
  display: block; 
  font-size: 24px; 
  font-weight: 200; 
}</style>