= simple_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, autofocus: true
  = f.input :email, as: :email
  = f.input :phone, as: :tel, disabled: true
  = f.input :birthdate, as: :date, start_year: Date.today.year - 36, end_year: Date.today.year - 18
  = f.input :preferred_pronouns
  = f.input :occupation
  = f.input :manual_invoicing
  = f.button :submit
%hr
= simple_form_for @user do |f|
  = f.hidden_field :id, value: @user.id
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit, "Update Password"
