- provide(:title, 'Edit Profile')
.panel.panel-default.edit_form
  .panel-heading
    %h2.panel-title Edit Profile
  .panel-body
    = render 'form'
  %span.edit_form__actions
    = link_to 'Profile', admin_user_path(@user), class: 'btn btn-default'
    = link_to 'Back', admin_users_path, class: 'btn btn-default'

- if current_user.admin? and current_user != @user
  %br
  .panel.panel-default.edit_form
    .panel-heading
      %h2.panel-title Membership Status
    .panel-body
      - @membership = Membership.find_by(member_id: @user.id)
      - if @membership.present?
        = simple_form_for(@membership, url: update_membership_path(@membership.id), :method => :put)  do |f|
          = f.input :admin, label: 'Chapter Admin'
          = f.input :member_id, as: :hidden
          = f.input :organization_id, collection: Organization.where.not(slug: 'www'), include_blank: false
          = f.button :submit, class: 'btn-lg btn-success'
