<% provide(:title, 'Edit Profile') %>
<div class="panel panel-default edit_form">
  <div class="panel-heading">
    <h2 class="panel-title">Edit Profile</h2>
  </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
    <% if current_user.admin?(current_tenant) %>
    <% @membership = Membership.find_by(organization_id: current_tenant.id, member_id: @user.id) %>
    <% if current_user.admin?(current_tenant) %>
      <% unless @user.admin?(current_tenant) %>
        <%= simple_form_for(@membership, url: admin_update_membership_path(@membership.id), :method => :put)  do |f| %>
          <%= f.input :admin, as: :hidden, input_html: {value: true } %>
          <%= f.button :submit, "Make #{@user.name} an Admin" %>
        <% end %>
      <% else %>
        <%= simple_form_for(@membership, url: admin_update_membership_path(@membership.id), :method => :put)  do |f| %>
          <%= f.input :admin, as: :hidden, input_html: {value: false } %>
          <%= f.button :submit, "Remove #{@user.name}'s Admin Status" %>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  <span class="edit_form__actions">
    <%= link_to 'Profile', admin_user_path(@user), class: 'btn btn-default' %>
    <%= link_to 'Back', admin_users_path, class: 'btn btn-default' %>
  </span>
</div>

