<% provide(:title, "Users") %>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Import Users</h2>
    </div>
    <div class="panel-body">
      <%= form_tag admin_user_import_path, multipart: true do %>
          <%= file_field_tag :user_file, class: 'btn' %>
          <%= submit_tag 'Import Users', class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12">
    <h3>All <%= current_tenant.name %> Members</h3>
    <p><%= @users.where(aasm_state: "prospective").count %> Prospective, <%= @users.where(aasm_state: "active").count %> Active</p>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.aasm_state.titleize %></td>
        <td><%= link_to 'Edit', admin_edit_user_path(user) %></td>
      </tr>
      <% end %>
    </table>
    <a class="btn btn-default">Import Members</a>
  </div>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.phone %>
        </td>
        <td>
          <%= link_to 'Show', user %>
        </td>
        <td>
          <%= link_to 'Edit', edit_user_path(user) %>
        </td>
        <td>
          <%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "Back", root_path %>


