<% provide(:title, "Users") %>
<div class="row">
  <div class="col-sm-12">
    <h3>All <%= current_tenant.name %> Members</h3>
    <p><%= @users.where(aasm_state: "prospective").count %> Prospective, <%= @users.where(aasm_state: "active").count %> Active</p>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Status</th>
        <th colspan="3">Actions</th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.aasm_state.titleize %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', admin_edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%= link_to "Back", :back, class: 'btn btn-default' %>


