.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %h2.panel-title New Member Sign Up - Orientation
    .panel-body
      = simple_form_for @user, url: create_with_access_code_path(event_id:@event.id, code: @event.access_code) do |f|
        - if @user.errors.any?
          #error_explanation.bs-callout.bs-callout-danger
            %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
            %ul
              - @user.errors.full_messages.each do |msg|
                %li= msg
        = f.input :name, autofocus: true
        = f.input :email, as: :email
        = f.input :phone, as: :tel, placeholder: '10 digits | No symbols', input_html: { maxlength: 10 }
        = f.input :birthdate, as: :date, start_year: Date.today.year - 36, end_year: Date.today.year - 18
        = f.input :preferred_pronouns
        = f.input :occupation
        = f.input :referred_by
        %hr
        = f.input :password
        = f.input :password_confirmation
        = f.button :submit
      %br
      = link_to 'Back', users_path, class: 'btn btn-default'
