- provide(:title, @user.name)
.container
  .panel.panel-default
    .panel-heading
      .row
        .col-md-3
          %span.user_profile__avatar= gravatar_for @user
        .col-md-6
          %h1.user_profile__name= @user.name
          .user_profile__details
            %i.fa.fa-phone
            = number_to_phone(@user.phone, area_code: true)
          .user_profile__details
            %i.fa.fa-envelope
            = @user.email
          - if @user.occupation?
            .user_profile__details
              %i.fa.fa-briefcase
              = @user.occupation
        .col-md-3.user_profile__actions
          = link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-default'
          = link_to 'Manage Dues', subscription_path(@user), class: 'btn btn-default' if current_user == @user
          - if @user.tenant_admin?(current_tenant)
            = link_to 'Create Event', new_event_path, class: 'btn btn-default' if current_user == @user
  - unless @user.events.empty?
    .panel.panel-warning
      .panel-heading.table-responsive Events
      %table.table.table-hover
        %tr
          %th Event
          %th Description
          %th When
          %th Where
          %th Unattend
        - @user.events.each do |event|
          %tr
            %td
              = link_to event.title, event_path(event)
            %td
              = event.description
            %td
              = event.start_time.strftime("%A, %b %-d -- %-I:%M %P")
            %td
              = event.location
            %td
              = link_to "Unattend", unattend_path(attendee_id: @user.id, event_id: event.id), method: :put, class: 'btn btn-warning'
