<% provide(:title, @user.name) %>
<div class="container">
  <p id="notice">
    <%= notice %>
  </p>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">
          <span class="user_profile__avatar"><%= gravatar_for @user %></span>
        </div>
        <div class="col-md-6">
          <h1 class="user_profile__name"><%= @user.name %></h1>

          <div class="user_profile__details">
            <i class="fa fa-phone"></i>
            <%= number_to_phone(@user.phone, area_code: true) %>
          </div>
          <div class="user_profile__details">
            <i class="fa fa-envelope"></i>
            <%= @user.email %>
          </div>
          <div class="user_profile__details">
            <i class="fa fa-briefcase"></i>
            <%= @user.occupation %>
          </div>
        </div>
        <div class="col-md-3 user_profile__actions">
          <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-default' %>
          <%= link_to 'Manage Dues', enroll_billing_user_path(id: @user.id), class: 'btn btn-default' %>
          <% if @user.admin?(current_tenant) %>
              <%= link_to 'Create Event', new_event_path, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% unless @user.events.empty? %>
      <div class="panel panel-warning">
        <div class="panel-heading table-responsive">Events</div>
          <table class="table table-hover">
            <tr>
              <th>Event</th>
              <th>Description</th>
              <th>When</th>
              <th>Where</th>
              <th>Unattend</th>
            </tr>
            <% @user.events.each do |event| %>
                <tr>
                  <td>
                    <%= link_to event.title, event_path(event) %>
                  </td>
                  <td>
                    <%= event.description %>
                  </td>
                  <td>
                    <%= event.start_time.strftime("%A, %b %-d -- %-I:%M %P") %>
                  </td>
                  <td>
                    <%= event.location %>
                  </td>
                  <td>
                    <%= link_to "Unattend", unattend_path(attendee_id: @user.id, event_id: event.id), method: :put, class: 'btn btn-warning' %>
                  </td>
                </tr>
            <% end %>
          </table>
      </div>
  <% end %>
</div>