:javascript
  Stripe.setPublishableKey("#{ENV['stripe_publishable_key']}");
- if current_user.subscribed?
  .container
    .row
      - if current_user.pending_invoices?
        = link_to("Pending invoices", billing_pending_invoices_path)
      .col-md-8
        %h4 Credit Card
        %span.payment-errors
        - image_tag("ajax-loader.gif", class: "loading-gif")
        = simple_form_for :card_details, url: billing_update_card_path, method: :put, inner_html: { id: "credit-card-submit"} do |f|
          = f.input :number, input_html: {class: "cc-num"}
          = f.input :cvc, input_html: {class: "cc-cvc"}
          = f.input :expiry, input_html: {class:"cc-exp"}
          = f.button :submit, class: "submit-credit-card-button"
        %button.update_card.btn.btn-default Change Card
        %span#card_summary= @card_summary
        %h4 Billing Contact
        = simple_form_for :customer, url: billing_update_contact_path, method: :put do |a|
          = a.input :first_name
          = a.input :last_name
          = a.input :email
          = a.input :phone
          = a.simple_fields_for :billing_address do |b|
            = b.input :line1, input_html: {value: @customer.billing_address.line1}
            = b.input :city, input_html: {value: @customer.billing_address.city}
            = b.input :state, input_html: {value: @customer.billing_address.state}
            = b.input :zip, input_html: {value: @customer.billing_address.zip}
            = b.input :country, as: :string, input_html: {value: @customer.billing_address.country}
            = a.button :submit, "Save"
  :javascript
    $('.submit-subscription-button').attr("disabled", "disabled");
    $('.card_details').hide();
    $('.loading-gif').hide();
    $('input.cc-num').payment('formatCardNumber');
    $('input.cc-exp').payment('formatCardExpiry');
    $('input.cc-cvc').payment('formatCardCVC');
    function stripeResponseHandler(status, response){
    	$('.loading-gif').hide();
    	if (response.error) {
    	    // Show the errors on the form
    	    $('.payment-errors').html(response.error.message);
    	    $('.submit-credit-card-button').removeAttr("disabled");
    	  } else {
    			var token = response['id'];
    			var card = response.card;
    			$.ajax({
    		        type: "PUT",
    		        url: "#{billing_update_card_path}",
    		        dataType: 'json',
    		        contentType: 'application/json',
    		        data: JSON.stringify({stripeToken: token, _method:'put'}),
    		        success: function () {
    							$('.card_details').hide();
    							$('.update_card').show();
    							$('#card_summary').html("Card details: " + card.brand + " ending in " + card.last4)
    		        }
    		    })
    	  }
    }
    $(".update_card").click(function(){
    	$('.card_details').show();
    	$('.update_card').hide();
    	$('#card_summary').html("");
    	$('.submit-credit-card-button').removeAttr("disabled");
    });
    $(".card_details").on('submit', function(e) {
    	e.preventDefault();
    	$('.loading-gif').show();
    	$('.payment-errors').html("");
        // Disable the submit button to prevent repeated clicks and form submit
        $('.submit-credit-card-button').attr("disabled", "disabled");
        // createToken returns immediately - the supplied callback
        // submits the form if there are no errors
    		var expiry = $('#card_details_expiry').payment('cardExpiryVal');
        Stripe.createToken({
            number: $('#card_details_number').val(),
            cvc: $('#card_details_cvc').val(),
            exp_month: expiry.month,
            exp_year: expiry.year
        }, stripeResponseHandler);
        return false; // submit from callback
    });
