<script>Stripe.setPublishableKey("<%= ENV['stripe_publishable_key'] %>");
</script>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<span class="payment-errors"></span>
			<% image_tag("ajax-loader.gif", class: "loading-gif") %>
			<%= simple_form_for :card_details, inner_html: { id: "credit-card-submit"} do |f| %>
				<%= f.input :number, input_html: {class: "cc-num"}, label: "Credit/Debit Card Number", placeholder: "4242 4242 4242 4242" %>

				<%= f.input :cvc, input_html: {class: "cc-cvc"}, label: "CVC", placeholder: "123" %>
				<%= f.input :expiry, input_html: {class:"cc-exp"}, label: "Expiration Date", placeholder: "06 / 18"  %>
			  <%= f.button :submit, class: "submit-credit-card-button" %>
			<% end %>
			<button class="update_card">Change Card</button>

			<span id="card_summary"></span>
			<%= simple_form_for :subscription, url: billing_subscribe_path do |f| %>
			 		<%= f.input :plan_id, collection: @plans, as: :radio_buttons, value_method: :id, label_method: :name %>
			 		<%= f.input :stripeToken, as: :hidden, input_html: {class: "stripeToken"} %>
			    <%= f.simple_fields_for :customer do |a| %>
			    	<%= a.input :first_name %>
			    	<%= a.input :last_name %>
			    	<%= a.input :email %>
			    	<%= a.input :phone %>
			      <%= a.simple_fields_for :billing_address do |b| %>
			        <%= b.input :line1, label: "Address" %>
			        <%= b.input :city %>
			        <%= b.input :state %>
			        <%= b.input :zip %>
			        <%= b.input :country %>
			      <% end %>
			    <% end %>

			  <%= f.button :submit, class: "submit-subscription-button" %>
			<% end %>
		</div>
	</div>
</div>

<script>
	$('.submit-subscription-button').attr("disabled", "disabled");
	$('.update_card').hide();
	$('.loading-gif').hide();
	$('input.cc-num').payment('formatCardNumber');
	$('input.cc-exp').payment('formatCardExpiry');
	$('input.cc-cvc').payment('formatCardCVC');
	function stripeResponseHandler(status, response){
		$('.loading-gif').hide();
		if (response.error) {
		    // Show the errors on the form
		    $('.payment-errors').html(response.error.message);
		    $('.submit-credit-card-button').removeAttr("disabled");
		  } else {
		    var token = response['id'];
				var card = response.card;
				$('.card_details').hide();
				$('.update_card').show();
				$('#card_summary').html("Card details: " + card.brand + " ending in " + card.last4)
		    $('#subscription_stripeToken').val(token);
		    $('.submit-subscription-button').removeAttr("disabled");
		  }
	}
	$(".update_card").click(function(){
		$('.card_details').show();
		$('.update_card').hide();
		$('#card_summary').html("");
		$('.submit-credit-card-button').removeAttr("disabled");
	});
	$(".card_details").on('submit', function(e) {
		e.preventDefault();
		$('.loading-gif').show();
		$('.payment-errors').html("");
	    // Disable the submit button to prevent repeated clicks and form submit
	    $('.submit-credit-card-button').attr("disabled", "disabled");
	    // createToken returns immediately - the supplied callback
	    // submits the form if there are no errors
			var expiry = $('#card_details_expiry').payment('cardExpiryVal');
	    Stripe.createToken({
	        number: $('#card_details_number').val(),
	        cvc: $('#card_details_cvc').val(),
	        exp_month: expiry.month,
	        exp_year: expiry.year
	    }, stripeResponseHandler);
	    return false; // submit from callback
	});
</script>
