= simple_form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  = f.input :title
  = f.input :event_type, collection: Event.event_types.map { |k, v| [k.titleize, k] }
  = f.input :description
  = f.input :location
  = f.input :address
  = f.input :start_time, as: :datetime
  = f.input :end_time, as: :datetime
  = f.input :access_code
  = f.button :submit
