= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :event_type
    %br/
    = f.select :event_type, options_for_select(Event.event_types.map { |k,v| [k.titleize, k]})
  %p
    = f.label :description
    %br/
    = f.text_area :description

  %p
    = f.label :location
    %br/
    = f.text_field :location

  %p
    = f.label :address
    %br/
    = f.text_area :address

  %p
    = f.label :start_time
    %br/
    = f.datetime_select :start_time

  %p
    = f.label :end_time
    %br/
    = f.datetime_select :end_time
  %p
    = f.submit
