- provide(:title, "Events")
%div.center.jumbotron
  %h1 Events
  %table.table.table-bordered.table-striped.table-hover.table-responsive
    %tr
      %th Title
      %th Description
      %th When
      %th Where
      %th Show
      %th Edit
      %th Destroy
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.description
        %td= event.start_time
        %td= event.address
        %td= link_to 'Show', event_path(event)
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }
