- provide(:title, "Events")
%div
  %h1 Events
  %table.table.table-bordered.table-striped.table-hover.table-responsive
    %tr
      %th Title
      %th Description
      %th When
      %th Where
    - @events.each do |event|
      %tr
        %td= link_to event.title, event_path(event)
        %td= event.description
        %td= event.start_time.strftime("%A, %b %d, %Y %I:%M %p")
        %td= event.address

  - if member_signed_in? && current_member.admin?
    %button.btn.btn-default
      = link_to 'Create Event', new_event_path
