- provide(:title, "Past Events")
.container
  %h1 Past Events
  = link_to 'View Upcoming Events', events_path
  .standard-pagination
    = will_paginate @past_events, previous_label: 'previous page', next_label: 'next page'
  - @past_events.each do |event|
    .panel.panel-default
      .panel-heading
        .row
          %h2.col-md-2= event.start_time.strftime("%b %d, %Y")
          .col-md-10
            %h3= link_to event.title, event_path(event)
            %p.events_header__details
              = event.start_time.strftime("%l:%M %P")
              •
              \#{event.address}
      .panel-body
        .row
          .col-md-2
          .col-md-10
            = event.description
  .standard-pagination
    = will_paginate @past_events, previous_label: 'previous page', next_label: 'next page'
