- provide(:title, @event.title.capitalize)
%div.container.jumbotron
  %p#notice= notice
  %h1
    = @event.title

  .row
    %span.col-md-4
      %table
        %tr
          %th Description
          %tr
            %td= @event.description

    %div.col-md-8
      %table.table.table-bordered.table-hover.table-responsive
        %tr
          %th When
          %td= @event.start_time
          %td= @event.end_time
          %tr
          %th Where
          %td= @event.location
          %td= @event.address


  %button.btn.btn-default
    = link_to "RSVP", new_attendee_path, method: :post
  %button.btn.btn-default
    = link_to "Edit", edit_event_path(@event)
  %button.btn.btn-default
    = link_to "Back", events_path

  - unless @event.attendees.empty?
    %div
      %h3 Attendees
      %table.table.table-bordered.table-hover.table-responsive
        %tr
          %th Name
          %th Phone
        - @event.attendees.each do |attendee|
          %tr
            %td=attendee.name
            %td=attendee.phone
