%p#notice= notice
%p
  %strong Title:
  = @event.title
%p
  %strong Description:
  = @event.description

%p
  %strong When:
  = @event.start_time
  \|
  = @event.end_time

%p
  %strong Location:
  %strong
    = @event.location
  \|
  = @event.address

= link_to "RSVP", new_attendee_path, method: :post



= link_to "Edit", edit_event_path(@event)
\|
= link_to "Back", events_path

%p
  %strong Attendees:
  %table
    %tr
      %th Name
      %th Phone
    - @event.attendees.each do |attendee|
      %tr
        %td=attendee.name
        %td=attendee.phone
