- provide(:title, @event.title.capitalize)
%div.container
  %p#notice= notice
  %h1
    = @event.title

  .row
    %span.col-md-4
      %table
        %tr
          %th Description
          %tr
            %td= @event.description

    %div.col-md-8
      %table.table.table-bordered.table-hover.table-responsive
        %tr
          %th When
          %td= @event.start_time.strftime("%A, %b %d, %Y %I:%M %p")
          %td= @event.end_time.strftime("%A, %b %d, %Y %I:%M %p")
          %tr
          %th Where
          %td= @event.location
          %td= @event.address


  - if member_signed_in? && current_member.attending?(@event)
    %button.btn.btn-default
      = link_to "Unattend", unattend_path(attendee_id: current_member.id, event_id: @event.id), method: :put
  - else
    %button.btn.btn-default
      = link_to "RSVP", create_attendee_path(event_id: @event.id), method: :post
  - if member_signed_in? && current_member.admin?
    %button.btn.btn-default
      = link_to "Edit", edit_event_path(@event)
    %button.btn.btn-default
      = link_to "Delete", event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }

  - unless @event.attendees.empty?
    - if member_signed_in?
      %div
        %h3 Attending
        %table.table.table-bordered.table-hover.table-responsive
          %tr
            %th Name
            %th Phone
            -if member_signed_in? && current_member.admin?
              %th In Attendance
          - @event.attendees.each do |attendee|
            %tr
              %td=attendee.name
              %td=attendee.phone
              -if member_signed_in? && current_member.admin?
                %td
                  -unless attendee.in_attendance? @event
                    %button.btn.btn-default
                      = link_to "Check In", check_in_path(attendee_id: attendee.id, event_id: @event.id), method: :put
                  -else
                    %h5{style: 'display: inline-block'} Checked In
                    %button.btn.btn-default
                      = link_to "Undo", undo_check_in_path(attendee_id: attendee.id, event_id: @event.id), method: :put
