- provide(:title, "Dues")
= javascript_include_tag 'subscriptions'
.container
  .jumbotron
    %h1 Dues
    - unless current_user.subscribed?
      %p Pay dues to become an active BYP100 member!
      - @plans.each do |plan|
        %br
        = form_tag({controller: 'subscriptions', action: 'create', method: 'post'}, class: "subscribe-form #{plan.id}")  do
          = hidden_field_tag 'member_email', @user.email
          = hidden_field_tag 'user_id', @user.id
          = hidden_field_tag 'plan_id', plan.id
          = hidden_field_tag 'plan_desc', plan.description
          = hidden_field_tag 'plan_price', plan.price
          = hidden_field_tag 'stripeToken', ''
          = submit_tag plan.name,  class: 'btn btn-success btn-lg', id: 'submit-btn'
    - else
      %h3 Active Since
      %p
        = Time.at(@subscription.started_at).strftime("%A, %b %-d, %Y")
      %h3 Pay Cycle
      %p
        = @subscription.plan_id == 'membership_monthly' ? 'Monthly' : 'Yearly'
      %h3 Next Payment
      %p
        = Time.at(@subscription.current_term_end).strftime("%A, %b %-d, %Y")
      = link_to 'Cancel Payments', { action: :destroy }, class: 'btn btn-danger btn-lg', method: :delete, data: {confirm: 'Are you sure?'}