%h2 Log In
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :phone
    %input#hidden_phone{:name => "phone_number", :type => "hidden", :value => ""}/
    %br/
    = f.text_field :phone, autofocus: true
  .field
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Log In"
= render "devise/shared/links"
