%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to "bypTIME", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "About", static_pages_about_path
          %li= link_to "Events", events_path
          - if user_signed_in?
            %li= link_to "Sign Out", destroy_user_session_path, method: 'delete'
            %li= link_to "Profile", current_user
          - else
            %li= link_to "Log In", new_user_session_path
