<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "bypTIME", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "About", static_pages_about_path %>
        </li>
        <li>
          <%= link_to "Events", events_path %>
        </li>
        <% if member_signed_in? %>
            <li>
              <%= link_to "Sign Out", destroy_member_session_path, method: 'delete' %>
            </li>
            <li>
              <%= link_to "Profile", current_member %>
            </li>
        <% else %>
            <li>
              <%= link_to "Log In", new_member_session_path %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
</body>
