- provide(:title, "Members")
%h1 Members

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Phone

  %tbody
    - @members.each do |member|
      %tr
        %td= member.name
        %td= member.email
        %td= member.phone
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to "Back", root_path
