%h1 Sign up at Orientation
= simple_form_for @member, url:event_members_path(event_id:@event.id) do |f|
  - if @member.errors.any?
    #error_explanation
      %h2= "#{pluralize(@member.errors.count, "error")} prohibited this member from being saved:"
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name, autofocus: true
  = f.input :email, as: :email
  = f.input :phone
  = f.input :birthdate, as: :date
  = f.input :pronouns
  = f.input :occupation
  = f.input :password
  = f.input :password_confirmation
  = f.input :referred_by
  / <hr>
  / <h3>Detailed Information</h3>
  / <haml_loud> f.input :nickname </haml_loud>
  / <haml_loud> f.input :native_city </haml_loud>
  / <haml_loud> f.input :gender, collection: Member.genders.map { |k, v| [k.titleize, k] } </haml_loud>
  / <haml_loud> f.input :preferred_pronouns </haml_loud>
  / <haml_loud> f.input :sexual_orientation, collection: Member.sexual_orientations.map { |k, v| [k.titleize, k] } </haml_loud>
  / <haml_loud> f.input :home_phone </haml_loud>
  / <haml_loud> f.input :student, as: :boolean </haml_loud>
  / <haml_loud> f.input :join_date, as: :date </haml_loud>
  / <haml_loud> f.input :committee_membership, collection: Member.committee_memberships.map { |k, v| [k.titleize, k] } </haml_loud>
  / <haml_loud> f.input :superpowers </haml_loud>
  / <haml_loud> f.input :facebook </haml_loud>
  / <haml_loud> f.input :twitter </haml_loud>
  / <haml_loud> f.input :instagram </haml_loud>
  / <haml_loud> f.input :education_level, collection: Member.education_levels.map { |k, v| [k.titleize, k] } </haml_loud>
  / <haml_loud> f.input :children </haml_loud>
  / <haml_loud> f.input :partnership_status, collection: Member.partnership_statuses.map { |k, v| [k.titleize, k] } </haml_loud>
  / <haml_loud> f.input :income, collection: Member.incomes.map { |k, v| [k.titleize, k] } </haml_loud>
  / <haml_loud> f.input :household_size </haml_loud>
  / <haml_loud> f.input :dietary_restrictions </haml_loud>
  / <haml_loud> f.input :immigrant, as: :boolean </haml_loud>
  = f.button :submit
= link_to 'Back', members_path
