- provide(:title, @member.name.capitalize)
%div.container
  %p#notice= notice
  %h1
    = gravatar_for @member
    = @member.name.capitalize

  %table.table.table-bordered.table-hover.table-responsive
    %tr
      %th Email
      %td= @member.email
      %tr
      %th Phone Number
      %td= @member.phone

  %button.btn.btn-default
    = link_to 'Edit Profile', edit_member_path(@member)
  %button.btn.btn-default
    = link_to 'Create Event', new_event_path

